<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>This is Home Page this is <%= name %></h1>
<br />
<%= city %>

<ol>
	<% color.forEach(function(item){ %>
		<li><%= item %></li>
	<% }) %>
</ol>

<h2><%= color[2] %></h2>


</body>
</html>