<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="/js/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#submit").click(function(){
				var obj = {};
				obj.full_name = $("#full_name").val();
				obj.username = $("#username").val();
				obj.password = $("#password").val();
				obj.address = $("#address").val();
				obj.city = $("#city").val();
				if($("#male").is(":checked")==true){
					obj.gender = "male";
				}
				if($("#female").is(":checked")==true){
					obj.gender = "female";
				}
				$.ajax({
					url : "/signup",
					type : "post",
					data : obj,
					success : function(res){
						console.log(res);
					}
				})
			});
		});
	</script>

	<!-- Latest compiled JavaScript -->
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" href="#">WebSiteName</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/">Home</a></li>
	        <li><a href="/about">About</a></li>
	        <li><a href="/contact">Contact</a></li> 
	        <li><a href="/help">Help</a></li> 
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#" data-target="#signupModal" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
<div class="container" style="min-height: 650px; height: auto;">
	<!-- <img src="/images/1.jpeg" /> -->

<%- include(pagename) %>


</div>


<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> The Stepping Stone </a>
  </div>
  <!-- Copyright -->

</footer>

<div class="modal fade" id="signupModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2>User Signup</h2>
			</div>
			<div class="modal-body">
				<!-- <form action="/signup" method="post"> -->
					<div class="form-group">
						<label>Full Name</label>
						<input type="text" placeholder="Full NAme" class="form-control" id="full_name" name="full_name">
					</div>
					<div class="form-group">
						<label>Username</label>
						<input type="text" placeholder="Username" class="form-control" id="username" name="username">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="text" placeholder="Password" class="form-control" id="password" name="password">
					</div>
					<div class="form-group">
						<label>Re-Password</label>
						<input type="text" placeholder="Re-Password" class="form-control">
					</div>
					<div class="form-group">
						<label>Address</label>
						<textarea class="form-control" name="address" id="address"></textarea>
					</div>
					<div class="form-group">
						<label>City</label>
						<select class="form-control" name="city" id="city">
							<option>Select</option>
							<option>Indore</option>
							<option>Mumbai</option>
						</select>
					</div>
					<div class="form-group">
						<label>Gender</label>
						Male<input type="radio" name="gender" value="male" id="male">Female<input type="radio" name="gender" value="female" id="female">
					</div>


			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">Close</button>
				<button class="btn btn-success" type="button" id="submit">Submit</button>
			</div>
				<!-- </form> -->
		</div>
	</div>
</div>



</body>
</html>